<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="login"  >
  <ion-content padding="true" style="background: url(img/jZh4Rav1ReHtmP1OMLzv_M58Xuf6.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list center-form">
      <div>
        <img src="img/hAX6oXmyTTGzJ2Yja5ag_Home-icon.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 290px; height: 35px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input top-input" id="login-input2">
          <input type="password" placeholder="password">
        </label>
        <label class="item item-input item-floating-label bottom-input" id="login-input1" name="Email">
          <input type="email" placeholder="Email">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <a ui-sref="tabsController.cameraTabDefaultPage" id="login-button1" class="button button-energized  button-block button-energized">Log in</a>
      <a ui-sref="signup" id="login-button2" class="button button-light  button-block button-clear">Or create an account</a>
    </form>

  </ion-content>
</ion-view>
